:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* Barre de Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
}

nav .left a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}

nav .right a {
  color: var(--text-color);
  margin: 0 10px;
}

nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}

nav .right a span {
  margin-left: 5px;
}

/* SECTION 1: Moi */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}

.hero-section .text {
  flex: 5;
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.1s;
}

.hero-section .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-section .headshot img {
  width: 350px;
  border-radius: 50%;
}

/* SECTION 2: Compétences */
.competences-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.competences-section h2 {
  text-align: center;
  font-size: 35px;
}

.competences-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.competences-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.competences-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.competences-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.competences-section .cells .cell span {
  font-size: 18px;
}

/* SECTION 3: Projets */
.projects-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.projects-section h2 {
  text-align: center;
  font-size: 35px;
}

.projects-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  height: 630px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.bloc {
  height: 70px;
  margin: 5px;
  border-radius: 25px;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(189, 189, 189, 0.1) 0px,
      rgba(189, 189, 189, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  flex-grow: 1;
  transition: flex-grow 0.4s ease-out;
  position: relative;
  overflow: hidden;
}

.active {
  flex-grow: 10000;
}

.bloc * {
  pointer-events: none;
}

.bloc-haut {
  height: 70px;
  display: flex;
  align-items: center;
}

.bloc .ligne {
  width: 70%;
  height: 1px;
  border-radius: 2px;
  background: var(--text-color);
  margin: 0 5px 0 auto;
}

.titre-section {
  margin: 0 25px;
  font-size: 30px;
}

.number {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin: 0 18px 0 10px;
  font-weight: bold;
}

.contenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenu img {
  width: 30%;
  margin-right: 65px;
  margin-left: 50px;
}

.contenu p {
  width: 350px;
}

.infos {
  font-family: "Poppins", sans-serif;
}

.infos h2 {
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.infos p {
  line-height: 140%;
}

.infos button {
  background: transparent;
  border: 2px solid var(--link-color);
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 17px;
  pointer-events: auto !important;
}

.infos button:active {
  transform: scale(0.95);
}

/* SECTION 4: Temoignage */
.temoignage-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.temoignage-section h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.temoignage-section .group {
  display: flex;
  align-items: center;
  gap: 50px;
}

.temoignage-section .group .person-details {
  text-align: center;
  flex: 2;
}

.temoignage-section .group .person-details img {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.temoignage-section .group .person-details p {
  font-weight: 600;
}

.temoignage-section .group .person-details p:last-child {
  font-weight: normal;
}

.temoignage-section .group .text {
  flex: 8;
}

/* SECTION 5: Contact */
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section h2 {
  font-size: 35px;
}

.contact-section .group {
  display: flex;
  gap: 50px;
}

.contact-section .group .text {
  flex: 3;
  margin-top: 20px;
}

.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
  font-family: "Poppins", sans-serif;
  border: 2px solid var(--link-color);
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}

.contact-section .group form button {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: var(--link-color);
  border: none;
  height: 50px;
  cursor: pointer;
  transition: 0.1s;
}

footer {
  text-align: center;
  margin: 2% 0;
}

.contact-section .group form button:hover {
  filter: brightness(0.9);
}

@media (max-width: 850px) {
  /* SECTION 1: Hero */
  .hero-section .text h2 {
    font-size: 35px;
  }

  /* SECTION 3: Projets */
  .container {
    width: 80%;
    height: auto;
    margin: 30px auto;
  }

  .bloc {
    height: auto;
    flex-grow: unset !important; /* Désactive l'animation */
    flex-direction: column;
  }

  .bloc-haut {
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
  }

  .bloc .ligne {
    display: none;
  }

  .titre-section {
    font-size: 22px;
    margin: 0;
  }

  .number {
    font-size: 18px;
    margin: 5px 0;
  }

  .contenu {
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
  }

  .contenu img {
    width: 75%;
    margin: 0 0 15px 0;
  }

  .contenu p {
    width: 100%;
    padding: 0 10px;
  }

  .infos h2 {
    font-size: 20px;
    text-align: center;
  }

  .infos p {
    font-size: 14px;
  }

  .infos button {
    width: 100%;
    font-size: 16px;
    border-radius: 1rem;
  }
}

@media (max-width: 740px) {
  /* NAVBAR */
  nav {
    padding: 0 20px;
  }

  nav .right a {
    font-size: 22px;
  }

  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span {
    display: none;
  }

  /* SECTION 1: Hero */
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section .headshot img {
    width: 300px;
  }

  /* SECTION 4: Temoignage */
  .temoignage-section {
    text-align: center;
  }

  .temoignage-section .group {
    flex-direction: column;
  }

  /* SECTION 5: Contact */
  .contact-section .group {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  /* SECTION 1: Hero */
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text h2 {
    font-size: 30px;
  }

  /* SECTION 2: Compétences */
  .competences-section {
    padding: 0 20px;
  }

  .competences-section .cells .cell span {
    font-size: 16px;
  }

  /* SECTION 4: Temoignage */
  .temoignage-section {
    padding: 0 20px;
  }

  /* SECTION 5: Contact */
  .contact-section {
    padding: 0 20px;
  }
}

/* Mode sombre */
.dark-mode {
  background: var(--text-color);
  color: var(--background-color);
}

.dark-mode i,
.dark-mode div a {
  color: var(--background-color);
}

.dark-mode .hero-section .links a:hover {
  color: var(--background-color);
  border: 2px solid var(--background-color);
}

.dark-mode .container {
  width: 80%;
  height: auto;
  margin: 30px auto;
}

.dark-mode .bloc {
  height: 70px;
  margin: 5px;
  border-radius: 25px;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1) 0px,
      rgba(255, 255, 255, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(90deg, rgb(189, 189, 189), rgb(189, 189, 189));
  flex-grow: 1;
  transition: flex-grow 0.4s ease-out;
  position: relative;
  overflow: hidden;
}

.dark-mode .active {
  flex-grow: 10000;
}

.dark-mode .bloc * {
  pointer-events: none;
}

.dark-mode .bloc-haut {
  height: 70px;
  display: flex;
  align-items: center;
}

.dark-mode .bloc .ligne {
  width: 70%;
  height: 1px;
  border-radius: 2px;
  background: var(--background-color);
  margin: 0 5px 0 auto;
}

.dark-mode .titre-section {
  margin: 0 25px;
  font-size: 30px;
}

.dark-mode .number {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin: 0 18px 0 10px;
  font-weight: bold;
}

.dark-mode .contenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode .contenu img {
  width: 30%;
  margin-right: 65px;
  margin-left: 50px;
}

.dark-mode .contenu p {
  width: 350px;
}

.dark-mode .infos {
  font-family: "Poppins", sans-serif;
}

.dark-mode .infos h2 {
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.dark-mode .infos p {
  line-height: 140%;
}

.dark-mode .infos button {
  background: transparent;
  border: 2px solid var(--link-color);
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 17px;
  pointer-events: auto !important;
}

.dark-mode .infos button:active {
  transform: scale(0.95);
}

#toggle-theme {
  zoom: 300%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
